.container.mydashboard
  style.
    /* only modify th from this dashboard! */
    .mydashboard table th {
    font-size 24pt;
    }
  // Create a table of builds organised by builders in columns
  table.table
    tr
      th aaaaaaaaaaa
      th(ng-repeat="builder in builders")
        a(ng-href='#/builders/{{ builder.builderid }}'
          ng-bind='builder.name')
    tr(ng-repeat="(id, sourcestamp) in sourcestampsMap")
      td
        changedetails(change='sourcestamp.change')
      td(ng-repeat="builder in builders")
                a(ng-repeat="build in builds[sourcestamp][builder]")
                  span.badge-status(ng-class="results2class(build, 'pulse')"
                                    ng-click='selectBuild(build)')
                                | {{ build.number }}

